#page a{color: #283f65;}
#page a:hover {opacity: 0.8;}

#page h2 a{color: #111;}

#page ul#entries li .entry small a, 
#page ul#entries li .entry p a, 
#content ul.quick_links li a
{color: #283f65 ;}
				
ol#controls li.current a{
		background:#283f65 ;
		color:#283f65 ;
		border: #283f65 ;
		opacity: 1;
		}
		
a:hover{color: #0085c3 ;}

.browse_entries a{color: #111 !important;}