/* --------------------------------------------------------------    
   Set default typography based on Blueprint   
   http://code.google.com/p/blueprintcss/     
-------------------------------------------------------------- */   

body {
    color:#666666;    
    font: 12px Arial, Garuda, sans-serif;
    line-height:21px;
}

input, textarea {
    line-height:normal !important;
}


/* HEADINGS -------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { 
	font-weight:bold;
	clear:both;
	letter-spacing:-0.01em;
	font-family: Arial;
	color: #222;
}

#content h1{font-size: 26px; line-height: 26px; font-weight: bold; letter-spacing: -0.04em;}
#content h2{font-size: 22px; margin: 10px 0 5px; font-weight: bold !important;}
#content h3{font-size: 18px; margin: 15px 0px 10px;}
#content h4{font-size: 16px; margin: 10px 0px 10px;}
#content h5{font-size: 14px; margin: 5px 0px 10px;}
#content h5{font-size: 12px; margin: 5px 0px 10px; text-transform: uppercase; font-weight: bold;}



/* TEXT ELEMENTS -------------------------------------------------------------- */
 
p {
	margin-bottom:18px;
}
ul, ol {
	margin: auto;
}
ul {
	list-style:none;
}
ol {
	list-style-type: decimal;
	margin-left: 40px;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom:0;
}
dl	{
    margin:0 1.5em;
}
dd {
	margin-bottom:18px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	color: #666666;
	border-left: 3px solid #eaeaea;
	line-height: 24px;
	margin:30px 20px;padding-left:15px;
}
blockquote em, blockquote i, blockquote cite {
	font-style:normal;
}
pre {
	font:11px Monaco, monospace;
	line-height:18px;
	margin-bottom:18px;
}
code {
	font:11px Monaco, monospace;
}
ins {
	text-decoration:none;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* PULLQUOTES -------------------------------------------------------------- */

blockquote.left {
	float: left;
	margin-right:20px;
	text-align: right;
	width: 33%;
}
blockquote.right {
	float: right;
	margin-left:20px;
	text-align: left;
	width: 33%;
}




/* ------------------------------------------------- */
/* CUSTOM TEXT STYLING FOR THIS THEME -------------- */
/* ------------------------------------------------- */

.desc p {
	margin-bottom:0px;
}

.preview p{
	line-height: 18px;
}



/* Entry Styling */
#entry-list .entry{
	padding-bottom: 25px;
	border-bottom: 1px dotted #c2c2c2;
	margin-bottom: 25px;
}

#entry-list .entry.single{
	padding-bottom: 0px;
	border-bottom: 1px dotted #c2c2c2;
	margin-bottom: 0px;
}
	/* Entry Elements Styling */
	#entry-list .entry img.avatar{
		border: 1px solid #b9b9b9;
		padding: 2px;
		width: 196px;
		height: 196px;
	}
	
	#entry-list .border{
		border: 1px solid #b9b9b9;
		padding: 2px;
	}
	
	#entry-list .entry .inner{
		width: 400px;
		float: right;
	}
	
	#entry-list .entry .full{
		width: 640px !important;
		float: left;
	}
	
	
	#entry-list .entry h1 a:link,
	#entry-list .entry h1 a:hover,
	#entry-list .entry h1 a:visited{
		color: #252524;
		text-decoration: none;
	}
	
	#entry-list .entry .entry_details{
		color: #1fa3da;
		margin: 13px 0 10px;
	}
	
	#entry-list .entry .entry_details span{
		color: #acacac;
	}
	
	#entry-list .entry p{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#entry-list .entry .more{
		color: #1fa3da;
	}
	
	#entry-list .entry .excerpt{
		font-style: italic;
		font-size: 12px;
	}
	
	#entry-list .entry .post ul{
		margin: 10px 15px 10px; 
	}

	.entry ul li, #entry-list .entry .post ul li{
		margin-left: 30px;
		list-style: disc;
	}
	
	#entry-list .entry .post ol{
		margin: 10px 20px 10px;
	}
	
		#entry-list .entry .post ol li{
			list-style: decimal; 
		}
	
	#entry-list .entry .post blockquote{
		background: url(assets/img/entrys/quote.jpg) no-repeat top left;
		padding-left: 15px;
		color: #333333;
		font-style: italic;
		margin: 10px 20px 10px;
	}
	
	#entry-list .entry .post .tags{
		height: 25px;
		background: #000;
		margin: 25px 0 25px;
		padding-bottom: 1px;
	}
	
		#entry-list .entry .post .tags p{
			color: #cccccc;
			font-size: 12px;
			padding: 3px 0 0 6px;
		}
		
		#entry-list .entry .post .tags p a{
			color: #cccccc;
			text-decoration: none;
		}
		
		#entry-list .entry .post .tags p span{
			color: #FFF;
			font-weight: bold;
		}
		
	#entry-list .author{
		padding-bottom: 20px;
		border-bottom: 1px dotted #c2c2c2;
		margin-bottom: 20px;
	}
	
		#entry-list .author .pic{
			border: 1px solid #cfcfcf;
			width: 78px;
			height: 78px;
			float: left;
		}
		
		#entry-list .author .info{
			float: right;
			width: 540px;
			color: #666666;
			font-size: 12px;
		}
		
		#entry-list .author .info h4{
			margin-top: 0;
		}

#entry-list #comment-list{
		padding-bottom: 20px;
		border-bottom: 1px dotted #c2c2c2;
		margin-bottom: 20px;
}
		#entry-list #comment-list li{
			overflow: hidden;
			clear: both;
			margin-bottom: 10px;
		}
	
		#entry-list #comment-list .details{
			width: 78px;
			float: left;
		}
		
		#entry-list #comment-list .details img{
			border: 1px solid #cfcfcf;
			width: 78px;
		}
		
		#entry-list #comment-list .details span{
			display: block;
			text-align: right;
			color: #333333;
		}
		
		#entry-list #comment-list .details span.name a{
			color: #1fa3da;
			text-decoration: none;
		}
		
		#entry-list #comment-list .details span.date{
			color: #727272;
		}
		
		#entry-list #comment-list .msg{
			background: #f8f8f8;
			border: 1px solid #cfcfcf;
			width: 530px;
			float: right;
		}
		
		#entry-list #comment-list .msg p{
			padding: 15px;
			font-size: 12px;
			line-height: 20px;
		}
	
#entry-list #reply{
	clear: both;
}
	#entry-list #reply img{
		float: left;
		width: 78px;
		border: 1px solid #cfcfcf;
	}
	
	#entry-list #contact{
		width: 620px;
		border-top: 1px dotted #cfcfcf;
	}
	
	#entry-list #reply form{
		float: right;
		width: 520px;
	}
	
	#entry-list #reply form input,
	#entry-list #contact form input,
	#entry-list #reply form textarea,
	#entry-list #contact form textarea{
		display: block;
		background: #f8f8f8;
		border: 1px solid #cfcfcf;
		padding: 15px;
		width: 483px;
		margin: 10px 0 10px;
	}
	#entry-list #reply form p input {display:none}
	
	#entry-list #contact form input,
	#entry-list #contact form textarea{
		width: 600px;
	}
	
	
	#entry-list #reply form textarea,
	#entry-list #contact form textarea{
		height: 100px;
		font: 12px 'Arial';
	}
	
	#entry-list #reply form .button,
	#entry-list #contact form .button{
		background: #000;
		color: #FFF;
		padding: 13px;
		border:1px solid #cfcfcf;
		width: auto;
	}


	#entry-list #reply img{
		float: left;
		width: 78px;
		border: 1px solid #cfcfcf;
	}
	
	#entry-list {
		width: 620px;
		border-top: 0;
	}

	#content-full #entry-list {
		width: 100% !important;
		border-top: 0;
	}

	
	#entry-list form{
		float: left;
		width: 520px;
	}
	
	
	#entry-list form input,
	#entry-list form textarea{
		display: block;
		background: #f8f8f8;
		border: 1px solid #cfcfcf;
		padding: 6px;
		margin: 10px 0 10px;
	}

	#entry-list form p input {}
	
	
	#entry-list form textarea{
		width: 590px;
	}

	#entry-list form input{
	}

	
	
	#entry-list form textarea,
	#entry-list form textarea{
		height: 100px;
		font: 12px 'Arial';
	}
	
	#entry-list form .button,
	#entry-list form .button{
		background: #000;
		color: #FFF;
		padding: 13px;
		border:1px solid #cfcfcf;
		width: auto;
	}

	/* Button Styling */
	.prev_b {float:left;margin-top: -15px;}
	.prev_b a{
		background: url(assets/img/entrys/button_prev.jpg) no-repeat;
	}
	
	.prev_b a,
	.subs_b a,
	.next_b a{
		width: 116px; height: 41px;
		display: block;
	}
	
	.prev_b a:hover{
		opacity: 0.8;
	}
	
	.subs_b{
		background: url(assets/img/entrys/button_subscribe.jpg) no-repeat;
		width: 127px; height: 41px;
		float: right;
		margin-right: 10px;
		margin-top: -15px;
	}
	
	.subs_b:hover{
		opacity: 0.8;
	}
	
	.next_b{
		float: right;
		width:147px;
		height:41px;
		margin-top: -15px;
	}
	.next_b a {
		background: url(assets/img/entrys/button_next.jpg) no-repeat;
		width:147px;
	}
	.next_b a:hover{
		opacity: 0.8;
	}



	a img:hover{opacity: 0.9;}
	.nav_btn:hover{color: white !important;}

.info h4, .commentmeta{text-transform: capitalize;}

.wpcf7{
clear: both;
	float: left; 
}

#sidebar .widget ul ul{
	margin-left: 15px
}

#sidebar .flexipages_widget ul{
margin-left: 20px;
	list-style: square;

}
